<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">
    <img src="/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    William J. Sanchez Law
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Firm Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Attorney Profiles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>


<div class="jumbotron">
  <h1>Text</h1>
  <p>In today's world internet is the most popular way…</p>
  <p><a href="#" class="btn btn-primary btn-lg">Learn more</a></p>
</div>
